#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#2c3e50;margin-top:60px}.pagination{list-style:none}.pagination *{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
/*# sourceMappingURL=app.9c8fb11336b70558f36aa2060f56db64.css.map */